@import '../../public/styles/global.scss';


.header-list{
    li{
        a {
            display: flex;
            align-items: center;
            column-gap: 9.67px;
            color: #364766;
            svg {
                color: #364766;
            }
            &:hover{
                color: black;
                img{
                    filter: grayscale(0);
                }
            }
        }   
    }
}



.welcome-block{
    z-index: 2;
    *{
        z-index: 2;
    }
    width:$welcome-block-width;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 226px;
}

.welcome-small-title{
    text-transform: uppercase;
    font-size: $f12;
    color:$blue1;
    font-family: b;
}

.welcome-main-title{
    font-size: $f64;
    color: black;
    margin-top: 16px;
    text-align: center;
    line-height: 80px;
    font-family: b;

}


.welcome-down-content{
    margin-top: 16px;
    font-size: $f16;
    color: $purple1;
    text-align: center;
}






.welcome-countdown{
    display: flex;
    column-gap: 12px;
    margin-top: 24px;
}


.welcome-count-block{
    width: 80px;
    height: 84px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    border-radius: 16px;
    color: white;
    h6{
        width: 100%;
        height: 16px;
        font-size: $f12;
        letter-spacing: 1.5px;
        text-align: center;
        font-family: b;
    }
    div{
        text-align: center;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: $f28;
        font-family: b;
    }
}






.circle1{
    z-index: 1;
    width: 360px;
    height: 360px;
    background-color: $blue1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -40px;
    bottom: -80px;
    div {
        width: 180px;
        height: 180px;
        filter: blur(400px);
        background-color: $blue1;
    }
}
.circle1{

    position: fixed;
    filter: blur(130px);
    animation: Circle1AnimationWave 100s infinite ease;
}


.circle2{
    animation: Circle2AnimationWave 100s infinite ease;
    width: 480px;
    background-color: $blue1;
    border-radius: 50%;
    height: 480px;
    position: fixed;
    left: -40px;
    bottom: -80px;
    filter: blur(130px);
}











.x-icons-top{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 400px;
    top: 10px;
    row-gap: 24px;
    width: auto;
    img{
        &:nth-child(2)
        {
            margin-left: -24px;
        }

    }
}


.x-icons-left-middle1{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50px;
    top: 250px;
    row-gap: 24px;
    width: auto;
}

.x-icons-left-middle2{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 85px;
    top: 340px;
    column-gap: 24px;
    width: auto;
    img {
        &:last-child{
            margin-top: 35px;
            margin-left: -34px;
        }
    }
}



.x-icons-right-middle{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
    top: 200px;
    row-gap: 24px;
    width: auto;
    img{
        &:nth-child(4) , &:nth-child(5)
        {
            margin-left: -24px;
        }

    } 
}



.x-icons-left-corner1
{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    left: 100px;
    row-gap: 24px;
    width: auto;
    img{
        &:nth-child(4) , &:nth-child(5)
        {
            margin-left: -24px;
        }

    } 

}


.x-icons-left-corner2{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 40px;
    left: 130px;
    column-gap: 24px;
    width: auto;
    img{
        &:nth-child(4) , &:nth-child(5)
        {
            margin-left: -24px;
        }

    }    
}



.x-icons-middle-corner{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 60px;
    bottom: 70px;
    row-gap: 24px;
    width: auto;
    img{
        &:nth-child(3) 
        {
            margin-left: 24px;
        }

    } 
}


.x-icons-right-corner
{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: calc(50% + 250px);
    bottom: 40px;
    column-gap: 24px;
    width: auto;
    img{
        &:nth-child(3) 
        {
            margin-top: 14px;
        }

    } 
}




.welcome-download{
    margin-top: 130px;
}



.x-icons-mobile-left ,.x-icons-mobile-right ,.x-icons-mobile-top{
    display: none;
}




@media screen and (max-width:1100px) {
    .welcome-block{
        width: $welcome-block-width-mobile
    }
    .x-icons-left-corner1, .x-icons-left-corner2 , .x-icons-left-middle1 , .x-icons-left-middle2 , .x-icons-middle-corner , .x-icons-right-corner , .x-icons-right-middle ,.x-icons-top{
        display:none;
    }
    .welcome-main-title{
        font-size: $f28;
        line-height: 40px; 
    }
    .welcome-block{
        column-gap: 8px;
    }
    .welcome-count-block{
        width: 64px;
        height: 72px;
        h6{

        }
        div{
            font-size: $f24;
        }
    }
    .welcome-download{
        margin-top: 180px;
    }
    .x-icons-mobile-top{
        top: 9px;
        right: 45%;
        display: flex;
        flex-direction: column;
        position: absolute;
        row-gap: 32px;
        img {
            &:last-child{
                margin-left: 20px;
            }
        }
    }
    .x-icons-mobile-right{
        bottom: 240px;
        right: 20px;
        display: flex;
        position: absolute;
        column-gap: 27px;
        
    }
    .x-icons-mobile-left{
        bottom: 160px;
        left: 20px;
        display: flex;
        position: absolute;
        column-gap: 24px;
        img {
            &:last-child{
                margin-top: 20px;
            }
        }
    }
}


