.button1 {
  width: auto;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #0076FC;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 19.33px;
          column-gap: 19.33px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button1:hover {
  background-color: #1662D1;
}

input, button, select, a, h1, h2, h3, h4, h5, h6, p, li, ul, body {
  margin: 0px;
  padding: 0px;
  border: none;
}

input:focus, button:focus, select:focus, a:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, li:focus, ul:focus, body:focus {
  outline: none;
}

button, a {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes Circle1AnimationWave {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  5% {
    -webkit-transform: translate(150px, -150px);
            transform: translate(150px, -150px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  10% {
    -webkit-transform: translate(-200px, -200px);
            transform: translate(-200px, -200px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  20% {
    -webkit-transform: translate(200px, -220px);
            transform: translate(200px, -220px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  25% {
    -webkit-transform: translate(190px, -270px);
            transform: translate(190px, -270px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  35% {
    -webkit-transform: translate(350px, -530px);
            transform: translate(350px, -530px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  40% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(450px, -450px);
            transform: translate(450px, -450px);
  }
  45% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(950px, -550px);
            transform: translate(950px, -550px);
  }
  50% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(650px, -350px);
            transform: translate(650px, -350px);
  }
  60% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(1050px, -330px);
            transform: translate(1050px, -330px);
  }
  70% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(950px, 300px);
            transform: translate(950px, 300px);
  }
  80% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(550px, -100px);
            transform: translate(550px, -100px);
  }
  90% {
    -webkit-transform: translate(250px, 400px);
            transform: translate(250px, 400px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@keyframes Circle1AnimationWave {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  5% {
    -webkit-transform: translate(150px, -150px);
            transform: translate(150px, -150px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  10% {
    -webkit-transform: translate(-200px, -200px);
            transform: translate(-200px, -200px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  20% {
    -webkit-transform: translate(200px, -220px);
            transform: translate(200px, -220px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  25% {
    -webkit-transform: translate(190px, -270px);
            transform: translate(190px, -270px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  35% {
    -webkit-transform: translate(350px, -530px);
            transform: translate(350px, -530px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  40% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(450px, -450px);
            transform: translate(450px, -450px);
  }
  45% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(950px, -550px);
            transform: translate(950px, -550px);
  }
  50% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(650px, -350px);
            transform: translate(650px, -350px);
  }
  60% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(1050px, -330px);
            transform: translate(1050px, -330px);
  }
  70% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(950px, 300px);
            transform: translate(950px, 300px);
  }
  80% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(550px, -100px);
            transform: translate(550px, -100px);
  }
  90% {
    -webkit-transform: translate(250px, 400px);
            transform: translate(250px, 400px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
}

@-webkit-keyframes Circle2AnimationWave {
  0% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(1050px, -330px);
            transform: translate(1050px, -330px);
  }
  10% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(950px, 300px);
            transform: translate(950px, 300px);
  }
  20% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(550px, -100px);
            transform: translate(550px, -100px);
  }
  30% {
    -webkit-transform: translate(250px, 400px);
            transform: translate(250px, 400px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  55% {
    -webkit-transform: translate(150px, -150px);
            transform: translate(150px, -150px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  60% {
    -webkit-transform: translate(-200px, -200px);
            transform: translate(-200px, -200px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  70% {
    -webkit-transform: translate(200px, -220px);
            transform: translate(200px, -220px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  75% {
    -webkit-transform: translate(190px, -270px);
            transform: translate(190px, -270px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  85% {
    -webkit-transform: translate(350px, -530px);
            transform: translate(350px, -530px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  90% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(450px, -450px);
            transform: translate(450px, -450px);
  }
  100% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(1050px, -330px);
            transform: translate(1050px, -330px);
  }
}

@keyframes Circle2AnimationWave {
  0% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(1050px, -330px);
            transform: translate(1050px, -330px);
  }
  10% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(950px, 300px);
            transform: translate(950px, 300px);
  }
  20% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(550px, -100px);
            transform: translate(550px, -100px);
  }
  30% {
    -webkit-transform: translate(250px, 400px);
            transform: translate(250px, 400px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  40% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  55% {
    -webkit-transform: translate(150px, -150px);
            transform: translate(150px, -150px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  60% {
    -webkit-transform: translate(-200px, -200px);
            transform: translate(-200px, -200px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  70% {
    -webkit-transform: translate(200px, -220px);
            transform: translate(200px, -220px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  75% {
    -webkit-transform: translate(190px, -270px);
            transform: translate(190px, -270px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  85% {
    -webkit-transform: translate(350px, -530px);
            transform: translate(350px, -530px);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  90% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(450px, -450px);
            transform: translate(450px, -450px);
  }
  100% {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-transform: translate(1050px, -330px);
            transform: translate(1050px, -330px);
  }
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.header-block {
  width: 1128px;
  height: 48px;
  margin: auto;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  z-index: 2;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
          column-gap: 64px;
  z-index: 2;
}

.header-list li {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
}

.header-list li a {
  color: inherit;
  text-decoration: none;
  z-index: 2;
}

@media screen and (max-width: 1100px) {
  .header-block {
    width: 90%;
  }
}

.header-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9.67px;
          column-gap: 9.67px;
  color: #364766;
}

.header-list li a svg {
  color: #364766;
}

.header-list li a:hover {
  color: black;
}

.header-list li a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.welcome-block {
  z-index: 2;
  width: 744px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 226px;
}

.welcome-block * {
  z-index: 2;
}

.welcome-small-title {
  text-transform: uppercase;
  font-size: 12px;
  color: #0076FC;
}

.welcome-main-title {
  font-size: 64px;
  color: black;
  margin-top: 16px;
  text-align: center;
  line-height: 80px;
}

.welcome-down-content {
  margin-top: 16px;
  font-size: 16px;
  color: #596780;
  text-align: center;
}

.welcome-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
  margin-top: 24px;
}

.welcome-count-block {
  width: 80px;
  height: 84px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16px;
  border-radius: 16px;
  color: white;
}

.welcome-count-block h6 {
  width: 100%;
  height: 16px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-align: center;
}

.welcome-count-block div {
  text-align: center;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 28px;
}

.circle1 {
  z-index: 1;
  width: 360px;
  height: 360px;
  background-color: #0076FC;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -40px;
  bottom: -80px;
}

.circle1 div {
  width: 180px;
  height: 180px;
  -webkit-filter: blur(400px);
          filter: blur(400px);
  background-color: #0076FC;
}

.circle1 {
  position: fixed;
  -webkit-filter: blur(130px);
          filter: blur(130px);
  -webkit-animation: Circle1AnimationWave 100s infinite ease;
          animation: Circle1AnimationWave 100s infinite ease;
}

.circle2 {
  -webkit-animation: Circle2AnimationWave 100s infinite ease;
          animation: Circle2AnimationWave 100s infinite ease;
  width: 480px;
  background-color: #0076FC;
  border-radius: 50%;
  height: 480px;
  position: fixed;
  left: -40px;
  bottom: -80px;
  -webkit-filter: blur(130px);
          filter: blur(130px);
}

.x-icons-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 400px;
  top: 10px;
  row-gap: 24px;
  width: auto;
}

.x-icons-top img:nth-child(2) {
  margin-left: -24px;
}

.x-icons-left-middle1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50px;
  top: 250px;
  row-gap: 24px;
  width: auto;
}

.x-icons-left-middle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: 85px;
  top: 340px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  width: auto;
}

.x-icons-left-middle2 img:last-child {
  margin-top: 35px;
  margin-left: -34px;
}

.x-icons-right-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 100px;
  top: 200px;
  row-gap: 24px;
  width: auto;
}

.x-icons-right-middle img:nth-child(4), .x-icons-right-middle img:nth-child(5) {
  margin-left: -24px;
}

.x-icons-left-corner1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 60px;
  left: 100px;
  row-gap: 24px;
  width: auto;
}

.x-icons-left-corner1 img:nth-child(4), .x-icons-left-corner1 img:nth-child(5) {
  margin-left: -24px;
}

.x-icons-left-corner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 40px;
  left: 130px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  width: auto;
}

.x-icons-left-corner2 img:nth-child(4), .x-icons-left-corner2 img:nth-child(5) {
  margin-left: -24px;
}

.x-icons-middle-corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 60px;
  bottom: 70px;
  row-gap: 24px;
  width: auto;
}

.x-icons-middle-corner img:nth-child(3) {
  margin-left: 24px;
}

.x-icons-right-corner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: calc(50% + 250px);
  bottom: 40px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  width: auto;
}

.x-icons-right-corner img:nth-child(3) {
  margin-top: 14px;
}

.welcome-download {
  margin-top: 130px;
}

@media screen and (max-width: 1100px) {
  .welcome-block {
    width: 90%;
  }
  .x-icons-left-corner1, .x-icons-left-corner2, .x-icons-left-middle1, .x-icons-left-middle2, .x-icons-middle-corner, .x-icons-right-corner, .x-icons-right-middle, .x-icons-top {
    display: none;
  }
  .welcome-main-title {
    font-size: 28px;
    line-height: 40px;
  }
  .welcome-block {
    -webkit-column-gap: 8px;
            column-gap: 8px;
  }
  .welcome-count-block {
    width: 64px;
    height: 72px;
  }
  .welcome-count-block div {
    font-size: 24px;
  }
  .welcome-download {
    margin-top: 180px;
  }
  .x-icons-mobile-top {
    top: 9px;
    right: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    row-gap: 32px;
  }
  .x-icons-mobile-top img:last-child {
    margin-left: 20px;
  }
  .x-icons-mobile-right {
    bottom: 240px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-column-gap: 27px;
            column-gap: 27px;
  }
  .x-icons-mobile-left {
    bottom: 160px;
    left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
  .x-icons-mobile-left img:last-child {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=coming-soon.css.map */