.button1{
    width: auto;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: $blue1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 19.33px;
    transition: 0.5s;
    font-family: m;
    &:hover{
        background-color: $blue2;

    }
}