input , button , select, a , h1 , h2, h3,h4,h5,h6 ,p , li , ul , body{
    margin: 0px;
    padding: 0px;
    border: none;
    &:focus{
        outline: none;
    }
}

button , a{
    cursor: pointer;
}

*{
    box-sizing: border-box;
    font-family: r;
}
