@font-face {
    font-family: 'r';
    src: url('/public/fonts/Manrope-Regular.ttf');
}


@font-face {
    font-family: 'm';
    src: url('/public/fonts/Manrope-Medium.ttf');
}


@font-face {
    font-family: 'b';
    src: url('/public/fonts/Manrope-Bold.ttf');
}
